@import url('https://fonts.googleapis.com/css?family=Open+Sans');

html {
    font-size: 16px;
}

@media(min-width:700px) {
    html {
        font-size: 18px;
    }
}
.top-section {
    height: 300px;
    width: 100%;
    padding: 100px;
    position: relative;
    background: url('img/main-bg.jpg') no-repeat;
    background-size: cover;
    background-position: left -15px top 0;
    padding-left: 20px;
}

.ham {
    position: absolute;
    top: 40px;
    left: 20px;
    width: 32px;
}

.top-section-title {
    font-family: 'Open Sans', sans-serif;
    color: #555;
    font-size: 2.2rem;
    line-height: 40px;
    margin-bottom: 20px;
    border: none;
}

.main-cta {
    padding: 10px 30px;
    background: #555;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
}
.main-cta: focus {
    outline: none;
}

.bottom-section {
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 50%;
    background-size: contain;
}

.item img {
    width: 100%;
}

.side-menu-icon {
    width: 70px;
    position: fixed;
    top: 357px;
    right: 10px;
}
